
  <!-- Sidebar -->
  <div class="w-64 min-h-[calc(100vh-82px)] bg-background border-r border-secondary/10 hidden md:flex flex-col">

    <!-- Navigation -->
    <nav class="flex-1 px-4 py-6 space-y-1">

      <a href="<%= monitors_path %>" class="<%=sidebar_items_classes(monitors_path)%>">
        <span class="ml-2">Monitors</span>
      </a>

      <a href="<%= status_path %>" class="<%=sidebar_items_classes(status_path)%>">
        <span class="ml-2">Status Pages</span>
      </a>

      <a href="<%= notifications_path %>" class="<%=sidebar_items_classes(notifications_path)%>">
        <span class="ml-2">Notifications</span>
      </a>
    </nav>

    <!-- User Footer -->
    <div class="p-4 border-t border-secondary/10">
      <% if current_user.present? %>
        <div class="flex items-center justify-between">
          <div>
            <p class="text-sm font-semibold"><%= current_user.email %></p>
            <p class="text-xs text-secondary/60">Signed in</p>
          </div>
          <%= button_to "Logout",
              destroy_user_session_path,
              method: :delete,
              class: "text-sm hover:text-white transition" %>
        </div>
      <% end %>
    </div>

  </div>